<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>links}}
</head>
<body>
    {{>navbar}}
	<div class="alert-msg">
    {{#if (isdefined findemail)}}
    {{findemail}}
    {{/if}}
</div>
	<div class="alert-msg-error">
    {{#if (isdefined notemailfound)}}
    {{notemailfound}}
    {{/if}}
</div>

		<form method="POST" >
	<div class="details forgetPassword">
			<h1>Forget Password ?</h1>
			
			<input type="email" placeholder="Email" class="inp" id="email"  name="email" required / >
			
			
			<button class="btn">
				
				
				Submit
			</button>
	
	</div>
		</form>
			
			
	
    {{>footer}}
      <script src="/js/indexScript.js"></script>
      <script src="/js/LoginScript.js"></script>
	

</body>
</html>