<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>links}}
</head>
<body>
    {{>navbar}}
	<div class="alert-msg">
    {{#if (isdefined show)}}
    {{show}}
    {{/if}}
</div>
	<div class="alert-msg-error">
    {{#if (isdefined shows)}}
    {{shows}}
    {{/if}}
</div>
  <div class="container" id="container">

	<div class="login-in-container">
		<form method="POST" class="loginForm">
			<h1>login in</h1>
			
			<input type="email" placeholder="Email" class="inp" id="email"  name="email" required / >
			<span class="loginSpan">

			<input type="password" placeholder="Password" class="inp" id="password"  name="password" required />
			 <i class="fa-solid fa-eye-slash" id="input-password"></i> 
			</span>
			<a href="#">Forgot your password?</a>
			<button class="btn ghostbtn">
				
				
				login In
			</button>
		</form>
		<div class="details">
			<h1>Hello, Friend!</h1>
			<p>Enter your personal details <br>and start journey with us</p>
			<button class="btn" id="signUp"><a href="/register">

				register
			</a>
		</button>
		</div>
	</div>
			
			
	
</div>
    {{>footer}}
      <script src="/js/indexScript.js"></script>
      <script src="/js/LoginScript.js"></script>
	

</body>
</html>