<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>links}}
</head>
<body>
    {{>navbar}}
	<div class="alert-msg">
    {{#if (isdefined findemail)}}
    {{findemail}}
    {{/if}}
</div>
	<div class="alert-msg-error">
    {{#if (isdefined notemailfound)}}
    {{notemailfound}}
    {{/if}}
</div>

		<form method="POST" >
	<div class="details forgetPassword">
			<h1>Reset  Your Password </h1>
			
		<span class="loginSpan">

			<input type="password" placeholder="new Password" name="password" class="inp"  id="password" />  <i class="fa-solid fa-eye-slash" id="input-password"></i> 
			</span>
			<span class="loginSpan">

			<input type="password" placeholder="confirm new Password" name="cpassword"  class="inp" id="cpassword"/>	 <i class="fa-solid fa-eye-slash" id="input-cpassword"></i> 
</span>
			
			
			<button class="btn">
				
				
				Submit
			</button>
	
	</div>
		</form>
			
			
	
    {{>footer}}
      <script src="/js/indexScript.js"></script>
      <script src="/js/LoginScript.js"></script>
	

</body>
</html>