<div class="footer">

<div class="box-container">

      <div class="box">
          <h3>quick links</h3>
          <a class="links" href="">Home</a>
          <a class="links" href="">Submit</a>
          <a class="links" href="">Register</a>
          <a class="links" href="">Login</a>
          <a class="links" href="">Contact us</a>
      </div>

     

      <div class="box">
          <h3>Details</h3>
          <p> <i class="fas fa-phone"></i> 98760xxxxx </p>
          <p> <i class="fas fa-phone"></i> 96325xxxxx </p>
          <p> <i class="fas fa-envelope"></i> foody@gmail.com </p>
          <p> <i class="fas fa-map"></i> punjab, india  </p>
         
      </div>

      <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for latest updates</p>
          <form action="">
              <input type="email" name="" class="email" placeholder="enter your email">
              <button type="submit" class="btn"> Subscribe <i class="fa-solid fa-bell"></i></button>
              
          </form>
      </div>

  </div>
</div>
<div class="credit"><p>copyright © All rights reserved!!</p> </div>
