  <link rel="stylesheet" href="/css/app.css" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Ubuntu&display=swap');
    </style>
      <script
      src="https://kit.fontawesome.com/a71f582a44.js"
      crossorigin="anonymous"
    ></script>
    <title>{{#if title}} {{title}} {{^}} Foody {{/if}}</title>