 <nav class="navbar">
      <div class="name">
        <figure><a href="/"><img src="/img/foody.jpg" alt="logo" /></a></figure>
      </div>
      <ol class="list">
        <li><a href="/submitRecipe">Submit</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/contact">contact</a></li>
      </ol>
       <form method="POST" action="/search" id="search"><input type="text" placeholder="search" title="pls press enter for search" name="searchTerm"><i class="fa-solid fa-magnifying-glass"></i></form>
    <div id="menu" class="fas fa-bars"></div>

    </nav>