<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>links}}
</head>
<style>
.navbar,.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
align-items: center;
    width: 12vw;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    }
    .list{

    margin: 1rem;
    }
 .list>li{
        padding: 2rem;
 }

    
    img{
   width: 100%;
   height:25vh;
        box-sizing: border-box;
        object-fit: contain;
        display:block;
    }

p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
h1{
    text-align: center;
    padding: 1rem;
    margin-left: 10rem;
}

.submit-form, .alert-msg, .alert-msg-error{
 display: flex;
 justify-content: center;
 margin-left: 20rem;
}
</style>
      
<body>
     <div class="alert-msg">
    {{#if (isdefined infoSubmit)}}
    {{infoSubmit}}
    {{/if}}
</div>

<div class="alert-msg-error">
    {{#if (isdefined infoErrors)}}
{{#each infoErrors}}
    {{message}}
    {{/each}}
    {{/if}}
</div>
<nav class="navbar">
      
      <ol class="list">
   <li><a href="/dashboard">Dashboard</a></li>
        {{!-- {{#if token }} --}}
        <li><a href="/adminUser">Users</a></li>
        {{!-- {{else}} --}}
        <li><a href="/adminRecipie">Recipe</a></li>
      </ol>
    <div id="menu" class="fas fa-bars"></div>
       
    </nav>

    <h1>Add Category</h1>
    <form method="POST" class="submit-form " enctype="multipart/form-data">
   
    <label required>Category Name: </label>
    <input type="text" placeholder="enter Category Name" name="name"  required />
    <label for="image" aria-required="true">Category image:</label>
    <input type="file" name="image">
    <div class="buttons">
<button type="submit" class="btn">Submit</button>
<button type="reset" class="btn">Reset</button>
    </div>


</form>
         <script src="/js/script.js"></script>


</body>
</html>