<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>links}}
</head>
<style>
    .navbar,.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
align-items: center;
    width: 12vw;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    }
    .list{

    margin: 1rem;
    }
 .list>li{
        padding: 2rem;
 }

    
    img{
   width: 100%;
   height:25vh;
        box-sizing: border-box;
        object-fit: contain;
        display:block;
    }

p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
h1{
    text-align: center;
    padding: 1rem;
    margin-left: 10rem;
}

.submit-form, .alert-msg, .alert-msg-error{
 display: flex;
 justify-content: center;
 margin-left: 20rem;
}
#adminmenu{
  display: none ;
}

@media (max-width:768px){
.navbar{

 display: block;
    justify-content: space-between;
    /* margin: 1.5rem; */
    height: auto;
    padding: 1rem;
    background-color: #F8F8F8; 
}
h1{
    margin-left: 0rem;
}
.submit-form, .alert-msg, .alert-msg-error{

 margin:.5rem  2rem;
}

.list{
  left:-100%
}
.list>li{
  margin: 2rem;
}

#adminmenu{
    position: fixed;
 top: 3%;
    right: 91%;

display: block;
    background-color: rgb(230, 223, 223);

    cursor: pointer;
    font-size: 1.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
}
table{
  margin-left: 0;
}
.toggle{
        left: -2%;
    top: -2%;
    width: 20%;
    height: 100%;
}
#menu{
  display: none ;
}

}
</style>
      
<body>
 
<nav class="navbar">
      
      <ol class="list">
   <li><a href="/dashboard">Dashboard</a></li>
        {{!-- {{#if token }} --}}
        <li><a href="/adminUser">Users</a></li>
        {{!-- {{else}} --}}
        <li><a href="/adminRecipie">Recipe</a></li>
        <li><a href="/admincontact">Contact</a></li>

      </ol>
           <div id="adminmenu" class="fas fa-bars"></div>

       
    </nav>

    <h1>Add Recpie</h1>
        <div class="alert-msg">
    {{#if (isdefined infoSubmit)}}
    {{infoSubmit}}
    {{/if}}
</div>

<div class="alert-msg-error">
    {{#if (isdefined infoErrors)}}
{{#each infoErrors}}
    {{message}}
    {{/each}}
    {{/if}}
</div>
    <form method="POST" class="submit-form " enctype="multipart/form-data">
   
    <label required>Recipie Name: </label>
    <input type="text" placeholder="enter Recipe Name" name="name"  required />
    <label>Description: </label>
<textarea name="description" id="des" cols="20" rows="10" placeholder="enter Description here .. 😄" required></textarea>
<label>Ingridents:</label>
<div class="ingridentlist">
    <div class="ingridentdiv">


    <input type="text" placeholder="example : onions" name="ingredients" required >
    </div>
</div>
    <button class="btn ing-btn" type="button">+ Add Ingridents</button>
    <label>Select category:</label>
    <select name="category">
    <option selected disabled >Select Category</option>
  {{#each category}}
    <option>
    {{name}}
    </option>
    {{/each}}

    </select>
    </option>
    <label for="image" aria-required="true">Prdouct image:</label>
    <input type="file" name="image" required="true">
    <div class="buttons">

<button type="submit" class="btn">Submit</button>
<button type="reset" class="btn">Reset</button>
    </div>


</form>

</div>
                    <script >
              const adminmenu = document.getElementById("adminmenu");
 const navbar2 = document.querySelector(".list"); 
adminmenu.addEventListener("click",()=>{
  adminmenu.classList.toggle('fa-times');  
   navbar2.classList.toggle('toggle');  
})
            </script>

</body>
</html>